<a href="https://colab.research.google.com/github/Prakarshini/rishi-college/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
type(x)

int

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
a+b+c

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
a='rishi'
if type(a)==str:
   print(type(a))

<class 'str'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=int(input("enter the first number:"))
b=int(input("enter the second number:"))
print("addition is",a+b)
print("subtraction is",a-b)
print("multiplication is",a*b)
print("division is",a/b)

enter the first number:10
enter the second number:5
addition is 15
subtraction is 5
multiplication is 50
division is 2.0

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
str_num="123"
int_num=int(str_num)
float_num=float(str_num)
print(str_num)
print(int_num)
print(float_num)

123
123
123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
a=str(input("enter a string:" ))
print(a[0])

enter a string:prani
p

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
a=str(input("enter a string:"))
len(a)

enter a string:prakarshini

11

In [ ]:
# Write a Python program to check if a given string contains only alphabets.

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
a=str(input("enter a first string:"))
b=str(input("enter a second string:"))
print("concatenate:",a+b)

enter a first string:hello
enter a second string:world
concatenate: helloworld

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
a=str(input("enter a string:"))
index=a.index("abc")
print(index)

enter a string:sdabcgh
2

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
a=str(input("enter a string:"))
print(a.upper())
print(a.lower())

enter a string:prakarshini
PRAKARSHINI
prakarshini

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
a=str(input("enter a substring:"))
print("number of times b appeares:")
print(a.count('d',0))

enter a substring:ninnadjgkkfhfn
number of times b appeares:
1

In [ ]:

# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
a=str(input("enter your name:"))
print(f"hello {a} good morning")

enter your name:prani
hello prani good morning

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
a=10
b=20
a+b

30

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
a=str(input("enter your name:"))
b=str(input("enter your age:"))
print(f"hello my name is{a} and my age is {b}")

enter your name:shinchan
enter your age:15
hello my name isshinchan and my age is 15

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
num=float(input("enter a number:"))
if num>0:
  print("positive number")
elif num==0:
    print("zero")
else:
      print("negative number")

enter a number:-1
negative number

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
year=int(input("enter the year to be checked:"))
if(year%4==0 and year100!=0 or year%400==0):
  print("the year is a leap year")
else:
 print ("the year isn't a leap year")

enter the year to be checked:2005
the year isn't a leap year

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
num = int (input())
if num%3==0 and num%5==0:
 print("divisible by 3 and 5")
else:
 print ("Not divisible by 3 and 5")

18
Not divisible by 3 and 5

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
s

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-19-8d9136f3e225>, line 8)

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
num=int(input("display multiplication table of:"))
for i in range(1,11):
  print(f"{num}*{i}={num*i}")

display multiplication table of:11
11*1=11
11*2=22
11*3=33
11*4=44
11*5=55
11*6=66
11*7=77
11*8=88
11*9=99
11*10=110

In [ ]:
#write a python program to print all even numbers from 1 to 20 using a while loop.
i=0
while i<=20:
  print(i)
  i+=2

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
n = int (input ("Enter a number: "))
i=1
while i<n:
  print(i)
  i=i+1

Enter a number: 10
1
2
3
4
5
6
7
8
9

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
n =int (input ("Enter any number : "))
f=1
while n >=1:
  f*=n
  n-=1
  print("factorial is",f)

Enter any number : 2
factorial is 2
factorial is 2

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)

IndentationError: expected an indented block after 'for' statement on line 5 (<ipython-input-31-40c636afa23a>, line 6)

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.
num1 = 1
num2 = 100
for x in range (num1,num2 ) :
    prime = True
    for i in range(2,x):
        if (x%i==0):
            prime = False
    if prime == True:
       print(x)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)

SyntaxError: invalid syntax (<ipython-input-33-b03ef79f383b>, line 3)

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
num = input ("Enter Number: ")
sum=0
for i in num:
    sum = sum + int (i)
print(sum)

Enter Number: 23
5

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.

SyntaxError: invalid syntax (<ipython-input-36-0f11bd8749f9>, line 2)

In [ ]:
# Write a Python program to find the largest element in a list.
a=(1,3,5,7)
largest=max(a)
print(largest)

7

In [ ]:
# Write a Python program to reverse a list.
a=[1,2,3,4,5]
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

SyntaxError: invalid syntax (<ipython-input-6-1fdf52ea865e>, line 2)

In [ ]:
# Write a Python program to find the index of an element in a list.
number= ["0", "2", "3","1"]
print(number.index("1"))

3

In [ ]:
# Write a Python program to find if a specific element exists in a list.

In [ ]:
# Write a Python program to remove duplicates from a list.
def Remove(duplicate):
    final_list = []
    for num in duplicate:
        if num not in final_list:
            final_list.append(num)
    return final_list
duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
print(Remove(duplicate))

[2, 4, 10, 20, 5]

In [ ]:
# Write a Python program to count the occurrences of an element in a list.

In [ ]:
# Write a Python program to get the number of even numbers in a list.

IndentationError: unexpected indent (<ipython-input-18-940415e0ecbe>, line 2)

In [ ]:
# Write a Python program to create a tuple and print it.
Tuple1 = ()
print("Initial empty Tuple: ")
print(Tuple1)
Tuple1 = ('Geeks', 'For')
print("\nTuple with the use of String: ")
print(Tuple1)
list1 = [1, 2, 4, 5, 6]
print("\nTuple using List: ")
print(tuple(list1))
Tuple1 = tuple('Geeks')
print("\nTuple with the use of function: ")
print(Tuple1)

Initial empty Tuple:
()

Tuple with the use of String:
('Geeks', 'For')

Tuple using List:
(1, 2, 4, 5, 6)

Tuple with the use of function:
('G', 'e', 'e', 'k', 's')

In [ ]:
# Write a Python program to convert a tuple to a list and vice versa.

In [ ]:
# Write a Python program to find the maximum and minimum values in a tuple.

In [ ]:
# Write a Python program to unpack a tuple into variables.

In [ ]:
# Write a Python program to add an element to a set and check if an element exists in the set.

In [ ]:
# Write a Python program to create a dictionary with keys and values and print it.

In [ ]:
# Write a Python program to access a dictionary value using a key.

In [ ]:
# Write a Python program to check if a key exists in a dictionary.

In [ ]:
# Write a Python program to merge two dictionaries.
dict_1 = {1: 'a', 2: 'b'}
dict_2 = {2: 'c', 4: 'd'}
print(dict_1 | dict_2)

{1: 'a', 2: 'c', 4: 'd'}

In [ ]:
# Write a Python program to remove a key from a dictionary.

In [ ]:
# Write a Python program to get the number of keys in a dictionary.

In [ ]:
# Write a Python program to find the largest and smallest values in a dictionary.
marks={"m1":75,"m2":85,"m3":60,"m4":90}
v=marks.values()
maxi=max(v)
mini=min(v)
print("maximum:",maxi)
print("minimum",mini)

maximum: 90
minimum 60

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [ ]:
# Write a Python function that returns the square of a number.
number = 6
squared= number *number
print (squared)

36

In [ ]:
# Write a Python function that accepts two parameters and return their sum.

Sum of 15 and 12 is <built-in function sum>

In [ ]:
# Write a Python function to check if a given number is prime.

if num > 1:
    for i in range(2, (num//2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

11 is a prime number

In [ ]:
# Write a Python function to calculate the factorial of a number using recursion.
def recur_factorial(n):
   if n == 1:
       return n
   else:
       return n*recur_factorial(n-1)
num = 7
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   print("The factorial of", num, "is", recur_factorial(num))

The factorial of 7 is 5040

In [ ]:
# Write a Python function to calculate the power of a number using recursion.
def power(N, P):
    if P == 0:
        return 1
    return (N*power(N, P-1))
if __name__ == '__main__':
    N = 5
    P = 2
    print(power(N, P))

25

In [ ]:
# Write a Python function to accept a list and return its length without using the built-in len() functiion.

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.

In [ ]:
# Write a Python function that accepts a list of numbers and returns their product.

SyntaxError: invalid decimal literal (<ipython-input-42-8c340c413b08>, line 9)

In [ ]:
# Write a Python function to check if a number is even or odd using the modulo operator.
x = 24
if x % 2 == 0:
    print("Even")
else:
    print("Odd")

Even

In [ ]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.

[1, 9, 25, 49, 81]

In [ ]:
# Write a Python program to filter out all even numbers from a list using list comprehension.

In [ ]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.

In [ ]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.

In [ ]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.

In [ ]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.

In [ ]:
# Write a Python program to square each element of a list using the map() function.

In [ ]:
# Write a Python program to filter all even numbers from a list using the filter() function.

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.

In [ ]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

**Note:**
- All assignments must follow [PEP 8  Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`